*{
  font-family: 'Lato', sans-serif;
  color: #676858;
  font-weight: 300;
}

@media only screen and (max-width:500px) and (orientation: landscape){

  .logo {
     display:block;
     margin:auto;
  }

}


.text-muted{
  color: #BCBBBB;
}

.text-thin{
  font-weight:500;
}

.title-super{
  font-size: 60px;
}

.title-logo{
  margin-top: 20px;
}

div.col-md-4 img {
   display:block;
   margin:auto;
}
